/* Contact */
.wrapper > * {
    padding: 3rem;
}

.wrapper .contacts {
    background-color: transparent;
    width: 33%;
}

.wrapper .form {
    height: 102%;
    width: 72%;
}

.contacts a:hover {
    width: auto !important;
    background-color: var( --background-color );
    background-color: transparent !important;
    height: auto !important;
    color: var(--secundary-color) !important;
}

form p {
    width: 100%;
}

form p:not( :last-child ) {
    margin-bottom: 1rem;
}

.contacts {
    background: var( --main-color );
    color: var( --background-color );
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}

#contact .wrapper .form {
    width: 63%;
    background-color: var(--background-color);
    overflow: auto;
    padding: 3rem;
}

.contacts h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.contacts svg {
    width: 3em;
    height: 3em;
    position: relative;
    display: inline;
    margin: 1rem;
}

.contacts li {
    display: flex;
    align-items: center;
}

.contacts a {
    color: var( --background-color );
    text-decoration: none;
}

.form h2 {
    padding-bottom: 3%;
}

form label {
    display: block;
}

button, input, textarea, select {
    padding: 1em;
    margin: 0.5rem 0;
}

textarea {
    resize: vertical;
}

button {
    background: var( --main-color );
    color: var( --background-color );
    cursor: pointer;
}

input, textarea, button, select {
    width: 100%;
    border: 1px solid var( --main-color );
}
