:root {
    --body-font: 'Readex Pro', sans-serif;
    --rolling-text-font-size: 1.1rem;
    --scrollbar-size: 3.3vh;
    --shadow-box: 1.1vw 1.1vw 2.75vh 1.1vw;
    --shadow-box-color: #00000033;
    --sticker-border-style: dashed;
    --button-border-width: 0.25vh;
    --sticker-outline-style: solid;
    --sticker-outline-width: 0.125vh;
    --transition-style: ease-in-out;
    --transition-duration: 1s;
    --scroll-text-duration: 55s;
}

/* z-index */
/* ------- */

/*
#curious: 20000
.product-pop-up: 11000
.popup: 10000
#theme-selector: 10000
#menu: 9000
.dropdown-menu: 9000
.secundary-menu: 8000
header .menu-icon: 6000
.dropdown-button: 6000
header: 5000
footer: 5000
.rolling: 4000
.personal-menu: 3000
*/

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--body-font), Arial, sans-serif;
    color: var(--secundary-color);
    overflow: hidden;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    touch-action: manipulation;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: normal;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

main {
    flex: 1; /* Allow main to grow and fill the available space */
    display: flex;
    flex-direction: row; /* Stack sections horizontally */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrolling */

    background-image: url(/static/img/home-bg/home-bg.png);
    background-image: url("/static/img/home-bg/home-bg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.sewn-button{
    box-shadow: var(--shadow-box) var(--shadow-box-color);
    background-color: var(--main-color);
    border: var(--button-border-width) var(--secundary-color);
    border-style: var(--sticker-border-style);
    outline: var(--secundary-color) var(--sticker-outline-style) var(--sticker-outline-width);
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%); /* Start above */
    }
    100% {
        transform: translateX(-100%); /* End below */
    }
}

button, a {
    cursor: pointer;
}

* {
    transition: all var(--transition-duration) var(--transition-style);
    box-sizing: border-box; /* Include padding in width calculation */
    color: var(--secundary-color);
}

.texto-rotado-izquierda {
    transform: rotate(-90deg); /* Rota el texto 90 grados en sentido antihorario */
    transform-origin: left top; /* Cambia el punto de origen de la rotación */
}

.texto-rotado-derecha {
    transform: rotate(90deg); /* Rota el texto 90 grados en sentido antihorario */
    transform-origin: left top; /* Cambia el punto de origen de la rotación */
}

.context-title {
    opacity: 0;
    pointer-events: none;
    background: var(--main-color);
    
    color: var(--secundary-color);
    
    position: absolute;
    padding: 0.4rem;
    top: calc(var(--menu-height) * -1.5);
    height: auto;
    width: auto;
    
    transition: all 0.5s var(--transition-style);
}

main button:hover,
#loginContainer button:hover {
    background-color: var(--secundary-color);
    color: var(--main-color);
    border-color: var(--main-color);
}

/* ScrollBar */
/* --------- */

::-webkit-scrollbar {
    width: 0.33vh;
    height: 0.33vh;
}
::-webkit-scrollbar-button {
    width: 1vh;
    height: 1vh;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 22%;
    height: 11vh;
}
::-webkit-scrollbar-track {
    background: var(--secundary-color);
    border: 1vh var(--sticker-border-style) var(--main-color);
    border-radius: 0%;
}
::-webkit-scrollbar-track:active {
    background: var(--secundary-color);
}
::-webkit-scrollbar-corner {
    background: var(--main-color);
}
