
:root {
    --header-top: 1.7rem;
    --header-height: 3rem;
    --header-bg: rgba(0,0,0,.4);
    --header-background-color: #000000bf;
    --contact-us-color: #fff;
    --margin-language: 0.5rem;
    --language-selector-height: 92%;
    --language-selector-font-size: 1.3rem;
    --language-options-bg: #131313;
    --nav-li-margin: 0 1rem;
    --nav-a-font-size: 1rem;
    --rolling-text-top: 0rem;
    --rolling-text-height: 1.5rem;
}

/* Header */
header {
    position: absolute;
    color: var( --background-color );
    text-align: center;
    width: 100%;
    top: var( --header-top );
    height: var( --logo-height );
    z-index: 1000;
    overflow-x: clip;
}

.contact-us-logo {
    margin-top: 0.5rem;
    height: 2.3rem;
    width: 2.3rem;
}

.contact-us-logo:hover {
    --contact-us-color: var(--secundary-color);
}

/* Language Switcher */

header #language-selected {
    height: inherit;
    width: 7rem;
    border: none;
    font-size: var( --language-selector-font-size );
    cursor: pointer;
    color: var( --background-color );
    text-align: center;
}

header #language-selected:hover {
    width: 7rem !important;
}

.menu-user .submenu {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    right: -107%;
    width: 44%;
    border-radius: 0 0 50px 50px;
}

header #language-selected:hover ~ .submenu {
    right: 0rem !important;
}

header #language-selected ~ .submenu:hover {
    right: 0rem !important;
}

header #language-selector {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}

#language-selector a {
    margin: 1rem;
}

.rolling-text {
    position: fixed;
    top: var( --rolling-text-top );
    width: 100%;
    background-color: var( --header-background-color );
    overflow: hidden;
    box-shadow: 0px 5px 5px black;
    height: var( --rolling-text-height );
}

/* Rolling text - Start */
.rolling-text p {
    /* animation properties */
    -moz-transform: translateX( 100% );
    -webkit-transform: translateX( 100% );
    transform: translateX( 100% );
    
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation: my-animation 30s linear infinite;
    cursor: pointer;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX( -100% ); }
    to { -moz-transform: translateX( 100% ); }
}
  
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX( -100% ); }
    to { -webkit-transform: translateX( 100% ); }
}
  
@keyframes my-animation {
    from {
        -moz-transform: translateX( -100% );
        -webkit-transform: translateX( -100% );
        transform: translateX( -100% );
    }
    to {
        -moz-transform: translateX( 100% );
        -webkit-transform: translateX( 100% );
        transform: translateX( 100% );
    }
}

/* Rolling text - End */

@media (max-width: 768px) {
}
