:root {
    --heading-font: 'Anton', sans-serif;
    --top-active-menu: 17.5vh;
    --scrolling-origin-top: 0vh;
    --rolling-box-height: 3vh;
    --logo-banner-height: 13vh;
    --header-height: 16vh;
}

header {
    overflow-x: visible;

    position: absolute;
    height: calc(var(--scrollbar-size) + var(--logo-banner-height));
    width: 100vw;

    user-select: none;
    
    z-index: 5000;
}


header .menu-input {
    z-index: 6000;
}

/* .hamburguer-btn:hover ~ #asdf {
    opacity: 1;
    left: auto;
    right: auto;
} */

#header-bg {
    position: absolute;
    height: var(--logo-banner-height);
    background-color: var(--main-color);
}

.logo-banner {
    display: flex;
    width: 100vw;

    justify-content: center;
    align-items: center;

    height: var(--logo-banner-height);

    font-size: 6.6rem;
    font-family: var(--heading-font);
}

.logo-banner a {
    line-height: 1;
}

.logo-banner a:link {
    color: var(--secundary-color) !important;
    background: transparent !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.logo-banner a:visited {
    color: var(--secundary-color) !important;
    background: transparent !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.logo-banner a:hover {
    color: var(--secundary-color) !important;
    background: transparent !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

#rolling-box {
    position: absolute;
    top: 0vh;
    line-height: var(--rolling-box-height);
}

.rolling {
    position: absolute;
    top: var(--logo-banner-height);
    height: var(--rolling-box-height);
    
    z-index: 4000;
}

/* header:hover .rolling {
    top: calc(var(--header-height) +  var(--menu-height));
    opacity: 1;
} */

.rolling-text {
    /* background-color: var(--main-color); */
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Prevent text from wrapping */

    width: auto;
    
    font-size: var(--rolling-text-font-size);
    color: var(--secundary-color);
}

#banner-top-rolling-text {
    animation: scroll-text var(--scroll-text-duration) linear infinite; /* Adjust duration as needed */
}
