:root {
    --heading-font: 'Anton', sans-serif;
    --header-height: 19vh;
    --scrolling-top: 20vh;
    --rolling-box-height: 3vh;
}

header {
    overflow-x: hidden;
    overflow-y: hidden;

    height: var(--header-height);
    width: 100vw;

    user-select: none;
    
    z-index: 1000;
}

#header-bg {
    background-color: var(--main-color);
    height: var(--header-height);
}

.logo-banner {
    display: flex;
    width: 100vw;

    justify-content: center;
    align-items: center;

    height: 13vh;

    font-size: 6.6rem;
    font-family: var(--heading-font);
}

.logo-banner a {
    line-height: 1;
}

.logo-banner a:link {
    color: var(--text-color) !important;
    background: transparent !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.logo-banner a:visited {
    color: var(--text-color) !important;
    background: transparent !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.logo-banner a:hover {
    color: var(--text-color) !important;
    background: transparent !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

#rolling-box {
    line-height: var(--rolling-box-height);
}

.rolling {
    position: absolute;
    top: var(--header-height);
}

/* header:hover .rolling {
    top: calc(var(--header-height) +  var(--menu-height));
    opacity: 1;
} */

.rolling-text {
    /* background-color: var(--main-color); */
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Prevent text from wrapping */

    width: auto;
    
    font-size: var(--rolling-text-font-size);
    color: var(--rolling-text-color);
}

#banner-top-rolling-text {
    animation: scroll-text var(--scroll-text-duration) linear infinite; /* Adjust duration as needed */
}
