#home {
    overflow: hidden; /* Hide scrollbars */
    
    position: absolute;
    top: 19vh;
    left: 0vh;
    height: 77vh;
    width: 100vw;

    /* user-select: none; */
}

/* #home img {
    cursor: crosshair;
} */

#home-prod-manufact {
    top: 22vh;
    left: 11vw;
    width: 44vh;
}

/* #home-boots {
    position: relative;
    top: 17vh;
    left: 17vw;
    width: 22vw;
} */

#home-boots {
    top: 13vh;
    left: 44vw;
    height: 44vh;
}

.sticker {
    position: sticky;

    cursor: -webkit-grab;
    cursor: pointer;

    transition: all var(--transition-duration) var(--transition-style);
}

.sticker:active {
    cursor:grabbing;
}
