#home {
    overflow: hidden; /* Hide scrollbars */
    
    position: absolute;
    top: calc(var(--rolling-box-height) + var(--logo-banner-height));
    left: 0vh;
    height: calc(100vh - var(--rolling-box-height) - var(--logo-banner-height) - var(--footer-height));
    width: 100vw;
    background-color: transparent !important;

    /* user-select: none; */
}

/* #home img {
    cursor: crosshair;
} */

#home-prod-manufact {
    top: 22vh;
    left: 11vw;
    width: 44vh;
}

/* #home-boots {
    position: relative;
    top: 17vh;
    left: 17vw;
    width: 22vw;
} */

#home-boots {
    top: 13vh;
    left: 44vw;
    height: 44vh;
}

.sticker {
    position: sticky;

    cursor: -webkit-grab;
    cursor: grab;

    transition: all var(--transition-duration) var(--transition-style);
}

.sticker:active {
    cursor:grabbing;
}
