:root {
    --pop-up-background-color: gray; /* Semi-transparent background */
    --rolling-text-margin: 3rem;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pop-up-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001; /* Ensure it is above other content */
    opacity: 1;
    transition: opacity 0.5s ease;
}

.popup-content {
    text-align: center;
    color: var(--text-color);
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

#welcome-popup {
    user-select: none;
}

#country-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center the items */
    flex-wrap: wrap; /* Allow wrapping to the next line if needed */
}

#country-list li {
    cursor: pointer; /* Change cursor to pointer */
    padding: 10px 20px; /* Add padding for clickable area */
    margin: 5px; /* Add margin between items */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth background color transition */
}

#country-list li:hover {
	background: var(--main-color);
    border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
}

/* Rolling text */
.rolling-text-bg {
    left: 0;
    width: 100%;

    background-color: var(--main-color);
    color: transparent;
    font-size: var(--rolling-text-font-size);
}

.rolling-text-top {
    margin-top: var(--rolling-text-margin);
    position: absolute;
    top: 0; /* Position at the top */
}

.rolling-text-bottom {
    margin-bottom: var(--rolling-text-margin);
    position: absolute;
    bottom: 0; /* Position at the top */
}

#top-rolling-text,
#bottom-rolling-text {
    position: absolute; /* Position absolute for scrolling */
    animation: scroll-text 55s linear infinite; /* Adjust duration as needed */
}

#top-rolling-text {
    margin-top: var(--rolling-text-margin);
    top: 0; /* Position at the top */
}

#bottom-rolling-text {
    margin-bottom: var(--rolling-text-margin);
    bottom: 0; /* Position at the bottom */
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%); /* Start above */
    }
    100% {
        transform: translateX(-100%); /* End below */
    }
}

/* Pop-up Logos */
.logo {
    width: 7%; /* Adjust width as needed */
    position: absolute; /* Position absolute for sliding effect */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    transition: transform 1.1s ease; /* Smooth transition for sliding out */
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.top-image {
    top: 21%; /* Position at the top */
}

.bottom-image {
    bottom: 21%; /* Position at the bottom */
    left: 46.5%; /* Center horizontally */
}
