:root {
    --section-opacity: 1;
    --section-height: 74vh;
}

section {
    overflow-y: auto; /* Allow vertical scrolling */
    
    position: fixed;
    padding: 2rem; /* Add padding for content */
    top: 20vh;
    height: var(--section-height);
    width: 100vw; /* Ensure each section takes the full viewport width */
}

.active {
    top: calc(var(--header-height) + var(--rolling-box-height)) !important;
    left: 0vw !important;
}
