.shop {
    left: -100vw;
    overflow: visible;
    padding: 0;
    padding-right: 1vh;
}

.products-sections {
    margin: 0vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
    width: 100%;
    height: 100%;
    
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;

    overflow: auto;
}

.categories {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: all var(--transition-duration) var(--transition-style);
    z-index: 2;
}

.categories > button:nth-child(1) {
    left: 0%;
}
.categories > button:nth-child(2) {
    left: 33%;
}
.categories > button:nth-child(3) {
    left: 66%;
}

.category {
    padding: 20px;
    text-align: center;
    overflow: auto;
    position: absolute;
    height: 92%;
    width: 30%;
}

.change-category {
    margin: 2vh;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vh;
}

.shoes {
    transform: rotate(11deg);
}

.flats {
    transform: rotate(9deg);
}

.boots {
    transform: rotate(-3.3deg);
}

.product {
    margin: auto;
}

.product[data-show="0"]{
    display:none;
}

.product[data-show="1"]{
    display: block;
}

.product img {
    width: 22vw;
}

figure {
    background: var(--main-color);
    display: inline-block;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: var(--shadow-box) var(--shadow-box-color);
    -moz-box-shadow: var(--shadow-box) var(--shadow-box-color);
    box-shadow: var(--shadow-box) var(--shadow-box-color);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    cursor: pointer;
    position: relative;
    transform: rotate(3.3deg);
    user-select: none;
}
figcaption {
    color: var(--secundary-color);
    font-size: 1rem;
    position: relative;
    top: 15px;
}
figure img {
    display: block;
}
.figure-hover:hover {
    cursor: pointer;
    -webkit-transform:  scale(1.2)
                        rotate(0deg) !important;
    -moz-transform: scale(1.2)
                    rotate(0deg) !important;
    transform:  scale(1.2)
                rotate(0deg) !important;
}
