/* General */

:root {
    --header-top: 1rem;
    --header-height: 3rem;
    --header-height-mobile: 6rem;
    --logo-top: 2rem;
    --logo-height: 2rem;
    --margin-logo: 0.5rem;
    --margin-language: 1.5%;
    --language-selector-height: 92%;
    --language-selector-font-size: 1.1rem;
    --nav-li-margin: 0 1rem;
    --nav-a-font-size: 1rem;
    --more-sub-menu-top: 5rem;
    --more-sub-menu-left: 0rem;
    --more-sub-menu-padding-top: 0.3rem;
    --wrapper-height: 45rem;
    --form-height: 47rem;
    --rolling-text-background-color: black;
    --rolling-text-top: 0rem; /* 3rem; */
    --shop-wrapper: 47rem;
    --footer-height: 2rem;
    --footer-padding: 0.5rem;
    --footer-a-font-size: 0.7rem;
    --main-padding-top: 0%;
    --main-padding-button: 0%;
    --section-width: 80%;
    --main-color: #333;
    --secundary-color: #dd76ae;
    --tertiary-color: transp;
    --background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

input {
    color: var( --secundary-color );
}

option:checked {
    background-color: var( --secundary-color );
    color: var( --background-color );
}

a:hover {
    color: var( --secundary-color );
    background-color: var( --main-color );
    border-radius: 0px 0px 30px 30px;
    height: 5rem;
    width: 5rem;
}

/* Not working yet */
header nav ul li.active {
    color: var( --secundary-color );
}

.form textarea:hover .form textarea:focus {
    border-color: var( --secundary-color );
    outline: none;
}

button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    border-color: var( --secundary-color ) !important;
    outline: none !important;
}

button:hover {
    background-color: var( --secundary-color );
    color: var( --background-color );
}

ul {
    list-style-type: none;
}

.wrapper div {
    height: 102%;
    width: 72%;
    background-color: var(--background-color);
}

/* Default */
#home-menu {
    color: var( --secundary-color );
}

/* Body */
body {
    line-height: 1.6;
    color: var( --main-color );
    display: flex;
    flex-direction: center;
    align-items: center;

    background-image: url('/static/images/home-bg/moscaslider_1.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

/* Header */
header {
    position: absolute;
    /* background-color: var( --main-color ); */
    color: var( --background-color );
    text-align: center;
    width: 100%;
    top: var( --header-top );
    height: var( --header-height );
    z-index: 1000;
}

header .header-logo {
    position: fixed;
    height: var( --logo-height );
    top: var( --logo-top );
    left: var( --margin-logo );
}

header nav {
    height: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 100%;
}

header nav ul li {
    padding: var( --nav-li-margin );
    display: table;
    border-radius: 15px 15px 30px 30px;
}

header nav ul li a {
    color: var( --background-color );
    text-decoration: none;
    font-size: var( --nav-a-font-size );
    display: table-cell;
    vertical-align: middle;
}

header nav ul li a:hover {
    transition: 0.5s;
    color: var( --secundary-color );
    width: auto !important;
    padding: 1rem;
}

#more-menu {
    cursor: pointer;
}

.more-sub-menu {
    position: absolute;
    display: none; /* none */
    top: var( --more-sub-menu-top );
    left: var( --more-sub-menu-left );
    padding-top: var( --more-sub-menu-padding-top );
    width: 100%;
    z-index: 1000;
}

.more-sub-menu li {
    width: 19rem;
}

#more-menu:hover ~ .more-sub-menu {
    display: flex;
}

.more-sub-menu:hover {
    display: flex;
}

.menu-item-more {
    position: relative;
    background-color: var( --main-color );
    padding: 3%;
    border-radius: 15px 50px 30px !important;
    width: 19rem !important;
    height: auto !important;
    z-index: 1000;
    box-shadow: -5px 5px 5px #2e2e2e;
}

/* Language Switcher */
.language-spacer {
    width: 30%;
}

header .language-switcher {
    display: block;
    height: 3.7rem;
}

header #language-selector {
    margin-top: 0rem;
}

header .language-switcher {
    top: 0rem;
    transition: 5s;
}

.language-switcher {
    position: absolute;
    top: var( --margin-language );
    right: var( --margin-language );
    height: 100%;
    transition: 5s;
}

.language-switcher:active {
    margin-top: -9rem;
}

#language-selector {
    border: none;
    font-size: var( --language-selector-font-size );
    cursor: pointer;
    background-color: var( --main-color );
    color: var( --background-color );
    height: var( --language-selector-height );
}

#language-selector option {
    background-color: var( --background-color );
    color: var( --main-color );
}

#language-selector option:checked {
    background-color: var( --secundary-color );
    color: var( --background-color );
}

.rolling-text {
    position: fixed;
    top: var( --rolling-text-top );
    left: 0px;
    width: 100%;
    background-color: var( --rolling-text-background-color );
    overflow: hidden;
}

.rolling-text p {
    /* animation properties */
    -moz-transform: translateX( 100% );
    -webkit-transform: translateX( 100% );
    transform: translateX( 100% );
    
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation: my-animation 30s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX( 100% ); }
    to { -moz-transform: translateX( -100% ); }
}
  
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX( 100% ); }
    to { -webkit-transform: translateX( -100% ); }
}
  
@keyframes my-animation {
    from {
        -moz-transform: translateX( 100% );
        -webkit-transform: translateX( 100% );
        transform: translateX( 100% );
    }
    to {
        -moz-transform: translateX( -100% );
        -webkit-transform: translateX( -100% );
        transform: translateX( -100% );
    }
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    position: fixed;
    top: calc( var( --rolling-text-top ) + 3% );
}

.hero {
    background: url( 'hero-image.jpg' ) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var( --background-color );
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
}

/* Sections */

/* General */
section {
    display: none;
    padding: 2rem;
    padding-top: 3rem;
    width: var( --section-width );
    margin: 0 auto;
    margin-top: var( --main-padding-top );
    margin-bottom: var( --main-padding-button );
    flex: 1;
}

.content-section.active {
    display: block;
}

/* Home */

/* Shop */
#shop .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    background-color: transparent;
    height: var( --shop-wrapper );
}

#shop .wrapper h2 {
    padding: 1rem;
    color: var( --background-color );
}

/* Carrusel de productos */
.product-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 2rem;
    width: auto !important;
    max-width: 92rem;
    background-color: transparent !important;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--secundary-color) transparent; /* For Firefox */
}

/* WebKit scrollbar styles */
.product-carousel::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.product-carousel::-webkit-scrollbar-track {
    background: var(--background-color);
}

.product-carousel::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color);
    border-radius: 10px;
    border: 2px solid var(--background-color);
}

.product-carousel::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color);
}

.product-item {
    background: var( --main-color ) !important;
    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    min-height: 33rem;
    height: auto !important;
}

.product-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out
}

.product-item img:hover {
    transform: scale(1.5);
}

.product-details {
    margin-top: 1rem;
    height: auto !important;
    width: auto !important;
    background: var( --main-color ) !important;
    color: var( --background-color );
}

.product-details h3 {
    font-size: 1.5rem;
    color: var( --background-color );
}

.product-details p {
    margin: 0.5rem 0;
}

.product-details select,
.product-details button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    background: var(--background-color);
    cursor: pointer;
}

.product-details button {
    background: var(--secundary-color);
    color: var(--background-color);
}

/* LogIn */
#login {
    background-color: transparent;
}

#login .wrapper {
    background: var(--main-color);
    box-shadow: 0 0 72px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}

#login .wrapper > * {
    padding: 3rem;
}

#login .form {
    background: var(--background-color);
    width: 70%;
    height: var( --form-height );
}

#login form p {
    width: 100%;
}

#login form p:not(:last-child) {
    margin-bottom: 1rem;
}

#login form label {
    display: block;
    color: var( --main-color );
}

#login button, #login input, #login textarea, #login select {
    padding: 1em;
    margin: 0.5rem 0;
}

#login button {
    background: var(--main-color);
    color: var(--background-color);
    cursor: pointer;
}

#login input, #login textarea, #login button, #login select {
    width: 100%;
    border: 1px solid var(--main-color);
}

#login .wrapper .form form p input:hover, 
#login .wrapper .form form p input:focus {
    border-color: var(--secundary-color);
}

#login .wrapper .form form p button:hover, 
#login .wrapper .form form p button:focus {
    border-color: var(--secundary-color);
    background-color: var(--secundary-color);
    color: var(--background-color);
}

.button-link {
    display: inline-block;
    width: 100% !important;
    height: 2.7rem !important;
    padding-top: 0.5rem;
    margin: 0.5rem 0;
    background: var(--main-color) !important;
    color: var(--background-color) !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover, button:focus, a:hover, a:focus {
    background: var(--secundary-color) !important;
    color: var(--background-color) !important;
}

.form button,
.form a {
    border-radius: 11px 11px 11px 11px !important;
}

/* Sign Up */
#signup {
    background-color: transparent;
}

#signup .wrapper {
    background: var(--main-color);
    box-shadow: 0 0 72px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: var( --wrapper-height );
}

#signup .wrapper > * {
    overflow: auto;
    padding: 3rem;
}

#signup .form {
    background: var(--background-color);
    position: relative;
    width: 70%;
    height: var( --form-height );
}

#signup form p {
    width: 100%;
}

#signup form p:not(:last-child) {
    margin-bottom: 1rem;
}

#signup form label {
    display: block;
}

#signup button, #signup input, #signup textarea, #signup select {
    padding: 1em;
    margin: 0.5rem 0;
}

#signup button {
    background: var(--main-color);
    color: var(--background-color);
    cursor: pointer;
}

#signup input, #signup textarea, #signup button, #signup select {
    width: 100%;
    border: 1px solid var(--main-color);
}

#signup input[type="checkbox"] {
    width: auto;
}

#signup .wrapper .form form p input:hover, 
#signup .wrapper .form form p input:focus {
    border-color: var(--secundary-color);
}

#signup .wrapper .form form p select:hover,
#signup .wrapper .form form p select:focus {
    border-color: var(--secundary-color);
}

#signup .wrapper .form form p button:hover, 
#signup .wrapper .form form p button:focus {
    border-color: var(--secundary-color);
    background-color: var(--secundary-color);
    color: var(--background-color);
}

.termsConditions {
    display: flex;
}

.termsConditions label {
    padding: 1rem;
}

/* Contact */
.wrapper {
    background: var( --main-color );
    box-shadow: 0 0 72px 0 rgba( 0, 0, 0, 0.2 );
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    scrollbar-color: var( --main-color ) var( --tertiary-color );
    height: var( --wrapper-height );
}

.wrapper > * {
    padding: 3rem;
}

.wrapper .contacts {
    background-color: transparent;
    width: 33%;
}

.wrapper .form {
    height: 102%;
    width: 72%;
}

.contacts a:hover {
    width: auto !important;
    background-color: var( --background-color );
    background-color: transparent !important;
    height: auto !important;
    color: var(--secundary-color) !important;
}

form p {
    width: 100%;
}

form p:not( :last-child ) {
    margin-bottom: 1rem;
}

.contacts {
    background: var( --main-color );
    color: var( --background-color );
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}

#contact .wrapper .form {
    width: 63%;
    background-color: var(--background-color);
    overflow: auto;
    padding: 3rem;
}

.contacts h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.contacts svg {
    width: 3em;
    height: 3em;
    position: relative;
    display: inline;
    margin: 1rem;
}

.contacts li {
    display: flex;
    align-items: center;
}

.contacts a {
    color: var( --background-color );
    text-decoration: none;
}

.form h2 {
    padding-bottom: 3%;
}

form label {
    display: block;
}

button, input, textarea, select {
    padding: 1em;
    margin: 0.5rem 0;
}

textarea {
    resize: vertical;
}

button {
    background: var( --main-color );
    color: var( --background-color );
    cursor: pointer;
}

input, textarea, button, select {
    width: 100%;
    border: 1px solid var( --main-color );
}

/* Footer */
footer {
    background: var( --main-color );
    color: var( --background-color );
    text-align: center;
    padding: var( --footer-padding );
    position: fixed;
    width: 100%;
    height: var( --footer-height );
    bottom: 0;
    z-index: 1000;
    display: table;
}

footer a {
    color: var( --background-color );
    text-decoration: none;
    font-size: var( --footer-a-font-size );
}

footer p {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

/* Media Queries */
@viewport {
    zoom: 1;
    max-zoom: 3;
}

@media ( min-width: 768px ) {
    header .language-switcher {
        display: none;
    }
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    
    header nav ul li {
        margin: 0.5rem 0;
        width: 100%;
    }
    
    header nav ul li a {
        display: block;
    }

    .header-logo {
        position: relative;
        height: 50px;
        top: 10px;
    }

    main {
        padding-top: 20%;
        padding-bottom: 10%;
    }

    section {
        padding: 1rem;
        width: 92%;
        margin-top: 15%;
        margin-bottom: 10%;
    }
}

